@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap');

body
{
    font-family:'Raleway';'Roboto', 
    sans-serif;
}
.header {
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 10px;
    }
    
a {
    color: rgba(33, 33, 33, 1);
    text-decoration: none;
}
.list {
    align-items: center;
    height: 70px;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    letter-spacing: 0.03em;
}

.webstudio {
   width: 145px;
    height: 31px;
   left: 215px;
   top: 24px;
   font-weight: 700;
   font-size: 26px;
   line-height: 31px;
   letter-spacing: 0.03em;
   color: #2196F3;
}

.content {
    align-items: center;
    background-color: rgba(47, 48, 58, 1);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    color:  #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
}
.article-title {
    color: #FFFFFF;
    font-size: 44px;
    height: 120px;
    text-align: center;
    text-transform: uppercase;
    width: 696px;
}
.button-main {
        align-items: center;
        background: rgb(33 150 243);
        border-radius: 4px;
        border: none;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
        color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: row;
        height: 50px;
        justify-content: center;
        margin-top: 10%;
        position: absolute;
        width: 261px;
    }
