body{
    font-family: 'Roboto';
    font-style: normal;
}
main{
    padding:0%
}
.webstudio {
width: 145px;
height: 31px;
left: 215px;
top: 24px;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #2196F3;
}
